<div class="navbar container-phone">
  <h1 class="title">Mes échanges</h1>
</div>

<div class="container-phone">
  <div class="transactions-container">
    <div class="transaction-index-container row" data-controller="toggle" data-action="click->toggle#fire">
      <div>
        <h2>Mes commandes en cours  (<%= @locations.size %>)</h2>
      </div>
      <div data-toggle-target="togglableElement" class="d-none">
        <% @locations.each do |location| %>
          <%= render "ticket", location: location %>
        <% end %>
      </div>
    </div>
      <div class="transaction-index-container row" data-controller="toggle" data-action="click->toggle#fire">
        <div>
          <h2>Mes vêtements en location (<%= @my_shares.size %>)</h2>
        </div>
        <div data-toggle-target="togglableElement" class="d-none">
          <% @my_shares.each do |share| %>
            <%= render "ticket", location: share %>
          <% end %>
        </div>
      </div>
      <div class="transaction-index-container row" data-controller="toggle" data-action="click->toggle#fire">
        <div>
          <h2>Mes Emprunts passé (<%= @location_finished.size %>)</h2>
        </div>
        <div data-toggle-target="togglableElement" class="d-none">
          <% @location_finished.each do |location| %>
            <%= render "ticket", location: location %>
          <% end %>
        </div>
      </div>
      <div class="transaction-index-container row" data-controller="toggle" data-action="click->toggle#fire">
        <div>
          <h2>Mes partages passé (<%= @my_share_finished.size %>)</h2>
        </div>
        <div data-toggle-target="togglableElement" class="d-none">
          <% @my_share_finished.each do |location| %>
            <%= render "ticket", location: location %>
          <% end %>
        </div>
    </div>
  </div>
</div>
