<div class="navbar container-phone">
  <div class="d-flex ms-4">
    <%= link_to (image_tag "icons/undo_icon.svg"), root_path, class: "d-flex"%>
    <h1 class="title">Recherche</h1>
  </div>
</div>

<div class="container-phone">
  <div class="">
    <div class="search" data-controller="refresh-clothes-list">
      <div class="input-group">
        <%= form_with url: clothes_path, method: :get, html: { class: 'search-bar mb-3', data: { refresh_clothes_list_target: 'form' } } do |f| %>
            <%= f.text_field :query,
                        class: "form-control",
                        placeholder: "Recherche un vêtement...",
                        value: params[:query],
                        data: { refresh_clothes_list_target: 'searchInput', action: 'keyup->refresh-clothes-list#update' } %>
        <% end %>
      </div>
      <div class= "croix">
       <%= link_to image_tag("buttons/croix_fermer.svg"), clothes_path %>
      </div>
         <%= render "list", clothes: @clothes, categories: @categories %>
    </div>
  </div>
</div>
