<h1>Mon super vêtement</h1>
<% @clothe.photos.each do |photo| %>
  <%= cl_image_tag(photo.key, width: 400, height: 300, crop: :fill) %>
<% end %>
<h3><%= @clothe.name %></h3>
<h5><%= @clothe.description %></h5>
<h5><%= @clothe.category %></h5>
<h5><%= @clothe.value %></h5>
<h5><%= @clothe.size %></h5>
<h5><%= @clothe.available %></h5>


<%# <div data-controller="datepicker"></div> %>

<div data-controller="toggle" class="mt-5">
  <button data-action="click->toggle#fire" class="btn btn-outline-primary">Add a new location</button>
  <div data-toggle-target="togglableElement" class="d-none">
    <%= render "/shared/formulaires/location", clothe: @clothe, transaction: @transaction %>
  </div>
</div>
