<div class="image-container">
  <div class="close-button"><%= link_to image_tag("buttons/croix_fermer.svg", alt: "Fermer"), root_path %></div>
  <div class="show-carousel">
    <% if @clothe && @clothe.photos.any? %>
      <%= render "shared/carousel", clothe: @clothe, size: 430 %>
    <% end %>
  </div>
</div>

<div class="container-phone">
  <h1 class="title-clothe"><%= @clothe.name %></h1>
  <h5><%= @clothe.description %></h5>
  <div class="mt-4 d-flex gap-2 justify-content-center">
    <h5 class="tag-clothe"><%= @clothe.category.name.capitalize %></h5>
    <h5 class="tag-clothe"><i class="fa-solid fa-coins"></i><%= @clothe.value %></h5>
    <h5 class="tag-clothe"><i class="fa-solid fa-shirt"></i> <%= @clothe.size %></h5>
    <h5 class="tag-clothe"><%= @clothe.available ? 'Disponible' : 'Indisponible' %></h5>
  </div>
  <div data-controller="toggle" class="m-4 d-flex justify-content-center">
    <button data-action="click->toggle#fire"  class="booking-btn">Voir les disponibilités</button>
    <div data-toggle-target="togglableElement" class="d-none">
      <%= render "location", clothe: @clothe, transaction: @transaction, reservations_dates: @reservations_dates %>
    </div>
  </div>
</div>
