<% content_for :meta_title, "#{@clothe.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @clothe.description %>
<% content_for :meta_image, cl_image_path(@clothe.photos.first.key) %>

<div class="image-container">
  <div class="close-button"><%= link_to image_tag("buttons/croix_fermer.svg", alt: "Fermer"), root_path %></div>
  <div class="show-carousel">
    <% if @clothe && @clothe.photos.any? %>
      <%= render "shared/carousel", clothe: @clothe, size: 430 %>
    <% end %>
  </div>
</div>

<div class="container-phone middle-container">
  <h1 class="title-clothe"><%= @clothe.name %></h1>
  <h5 class="description-clothe"><%= @clothe.description.capitalize %></h5>
  <div class="tags d-flex gap-2 justify-content-center">
    <h5 class="tag-clothe"><%= @clothe.category.name.capitalize %></h5>
    <h5 class="tag-clothe"><i class="fa-solid fa-coins"></i><%= @clothe.value %></h5>
    <% unless @clothe.size == "" %>
      <h5 class="tag-clothe"><i class="fa-solid fa-shirt"></i> <%= @clothe.size %></h5>
    <% end %>
    <h5 class="tag-clothe"><%= @clothe.condition.capitalize %></h5>
  </div>
  <% unless current_user == @clothe.owner %>
    <div class="bottom-container ">
      <div class="map-container"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  <% end %>
  <% if current_user == @clothe.owner %>
      <% if @clothe.clothe_transactions.empty? %>
        <div class="booking-btn">Aucune réservation</div>
      <% else %>
        <div class="booking-btn">Déjà <%= @clothe.clothe_transactions.size %> réservations !</div>
      <% end %>
  <% else %>
    <div data-controller="toggle" class="mt-4 mx-4 d-flex justify-content-center button-container">
      <button data-action="click->toggle#fire2" data-toggle-target="togglableButton" class="booking-btn">Voir les disponibilités</button>
      <div data-toggle-target="togglableElement" class="d-none">
        <%= render "location", clothe: @clothe, transaction: @transaction, reservations_dates: @reservations_dates %>
      </div>
    </div>
  <% end %>
</div>
