<%= link_to clothe_path(clothe), :action => 'go' do %>
  <div class="card-container">
    <div class="card-images">
      <%= render "shared/carousel", clothe: clothe, size: 400 %>
    </div>
    <div class="information">
      <div class="top-info">
        <p class="photo-owner">avatar owner</p>
        <p class="map">map</p>
      </div>
      <div class="bot-info">
        <div class="description">
          <h2>
            <%= "#{clothe.name.split(" ")[0..1].join(" ")}..." %>
          </h2>
            <%= "#{clothe.description[0..35]}..." %>
          </div>
        <div class="like">
          <%= button_to "", clothe_likes_path(clothe), class:"fa-solid fa-heart fa-3x"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
