<div class="navbar container-phone">
  <div class="d-flex align-items-center">
    <%= image_tag "logo_komod.png", class: 'logo', width: '50px', height: '50px' %>
  </div>
  <%= link_to categories_path do %>
    <%= image_tag "icons/search_icon.svg", size: "34x34", class: "me-3" %>
  <% end %>
</div>

<div class="container-phone">
  <% @clothes.sample(10).each do |clothe| %>
    <div data-controller="overlay">
      <%= render "card", clothe: clothe %>
      <%= render "overlay-clothes", clothe: clothe %>
    </div>
  <% end %>
</div>
