<div data-action="click->toggle#fire">
  <% number_of_location = @clothes_in_progress.size + @clothes_new.size  %>
  <div class="preview">
    <div class="my-clothes">
      <p><%= "#{clothes.size} Vêtements" %></p>
      <i class="fa-solid fa-shirt"></i>
    </div>
    <div class="my-locations">
        <p><%= "#{number_of_location} Prêts" %></p>
        <i class="fa-solid fa-shirt"></i>
        <i class="fa-solid fa-down-long arrow"></i>
    </div>
  </div>
</div>
<div data-toggle-target="togglableElement" class="d-none">
  <% @clothes_new.each do |clothe| %>
    <%= render "ticket", clothe: clothe %>
  <% end %>
  <% @clothes_in_progress.each do |clothe| %>
    <%= render "ticket", clothe: clothe %>
  <% end %>
  <% clothes.each do |clothe| %>
    <% unless @clothes_new.include?(clothe) ||  @clothes_in_progress.include?(clothe) %>
      <%= render "ticket_empty", clothe: clothe %>
    <% end %>
  <% end %>
</div>

