<div class="transactions-index-clothes">
  <div class="row">
    <div class="col-3 img-col">
      <% if clothe.photos.size !=0 %>
        <%= link_to cl_image_tag(clothe.photos.first.key), clothe_path(clothe), class: "ticket-photo"%>
      <% end %>
    </div>
    <div class="col-5 d-flex justify-content-evenly flex-column">
      <%= link_to owner_clothe_transaction_path(transaction) do %>
      <div class="dates-container">
        <p><%= "Du #{transaction.start_date.strftime("%d/%m/%Y")}" %></p>
        <p><%= "au #{ transaction.end_date.strftime("%d/%m/%Y")}" %></p>
        <% if transaction.status == 'new' %>
          <p>à venir</p>
        <% else %>
          <p>en cours</p>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="col-4 transaction-col">
      <%= link_to "annuler", clothe_transaction_path(transaction), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-btn" %>
    </div>
  </div>
</div>
