<div class="card-index-clothes">
  <div class="row">
    <div class="col-3 img-col">
      <% if clothe.photos.size !=0 %>
        <%= link_to cl_image_tag(clothe.photos.first.key), clothe_path(clothe), class: "ticket-photo"%>
      <% end %>
    </div>
    <div class="col-5 d-flex justify-content-evenly flex-column">
      <%= link_to owner_transaction_path(transaction) do %>
      <div class="dates-container">
        <%= "Du #{transaction.start_date}" %>
        <%= "au #{ transaction.end_date}" %>
      </div>
      <% end %>
      <%= "status: #{transaction.status}" %>
    </div>
    <div class="col-4 transaction-col">
      <%= link_to "annuler", transaction_path(transaction), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete-btn" %>
    </div>
  </div>
</div>
