<div class="navbar container-phone">
  <h1 class="title">Espace Personnel</h1>
  <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: 'me-3 logout-button' do %>
    <i class="fa-solid fa-power-off"></i>
  <% end %>
</div>
<div class="container-phone align-items-center">
  <div class="profil-infos mt-2">
    <div class="profil-photo d-flex position-relative pb-1">
      <%= image_tag "profil/profil_kylan.jpeg", class: "rounded-circle image-profile", width: '125px', height: '125px' %>
      <%= link_to image_tag("buttons/edit_button.svg", alt: "Modifier mon profil", class: "edit-button edit-button-overlay"), edit_profils_path(@user) %>
    </div>

    <div class="profil-description">
      <h2><strong><%= @user.user_name %></strong></h2>
      <p><%= @user.first_name%> <%= @user.last_name %></p>
    </div>
  </div>
  <div class="undertitle">
    <p class="co2 mt-2">
      <i class="fa-brands fa-envira"></i>
      <em> 35kg de CO2  sauvé </em>
      <i class="fa-brands fa-envira fa-flip-horizontal"></i>
    </p>
    <p><i class="fa-solid fa-star"></i> <%= @user.ranking %>/5</p>
  </div>
</div>
<div class="container-phone">
  <div class="header">
    <h2 class="m-0"><strong>Tableau de bord</strong></h2>
    <%= link_to "", profils_likes_path, class: 'booking-btn fa-solid fa-heart' %>
  </div>
</div>

<div class="container-phone">
  <div class="account-level">
    <div class="level-icon">
      <i class="fa-solid fa-certificate"></i>
      <div class="level">13</div>
    </div>
      <div class="level-bar">
        <p>Niveau du compte</p>
      </div>
      <div class="level-percent">78%</div>
  </div>
</div>

<div class="container-phone">
  <div class="komod">
    <div class="" data-controller="toggle">
      <%= render "ma_komod", transactions: @transactions, clothes: @clothes %>
    </div>
  </div>
  <div class="emprunts">
      <%= render "transactions", transactions: @transactions, clothes: @clothes %>
  </div>
</div>
