<h1>Mon profil</h1>
<p>Photo de profil</p>
<h3><%= @user.user_name %></h3>
<p><%= @user.first_name%> <%= @user.last_name %></p>
<%= link_to "Modifier mon profil", edit_profils_path(@user) %>

<h2>Tableau de bord</h2>

<%= link_to "Mes habits likés", profils_likes_path %>
<p> Mes emprunts </p>
<p> Mes prêts </p>
<p> Les évènements où je suis présent </p>
