<div class ="tapbar">
 <%= link_to image_tag("icons/home_icon.svg", alt: "my feed"), root_path %>
 <%= link_to image_tag("icons/megaphone_icon.svg", alt: "events icon"), events_path %>
 <%= link_to image_tag("icons/post_icon.svg", alt: "post icon"),  new_owner_clothe_path%>
 <%= link_to image_tag("icons/mail_icon.svg", alt: "messages icon"),  profils_chatrooms_path%>
 <%= link_to image_tag("icons/user_icon.svg", alt: ""), profils_path%>
</div>
