<div class ="tapbar">
 <%= link_to "my feed", root_path %>
 <%= link_to "events", events_path %>
 <%= link_to "add clothes",  new_owner_clothe_path%>
 <%= link_to "messages",  profils_chatrooms_path%>
 <%= link_to "my profil", profils_path%>
</div>
