<div class="navbar container-phone">
  <div class="d-flex">
    <%= link_to (image_tag "icons/undo_icon.svg"), root_path, class: "d-flex"%>
    <h2 class="title">Détails de votre réservation</h2>
  </div>
</div>

<div class="container-phone">
  <div class="dates row">
    <div class="start-date col">
      <h2> Vous récuperez le vetement le:</h2>
      <%= @transaction.start_date.strftime("%d/%m/%Y") %>
    </div>
    <div class="end-dates col">
      <h2>Vous rendez le vetement le:</h2>
      <%= @transaction.end_date.strftime("%d/%m/%Y") %>
    </div>
  </div>
  <br>
</div>
<div class="phone-container d-flex ">
  <div class="map-container"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <%= link_to cl_image_tag(@transaction.clothe.photos.first.key), clothe_path(@transaction.clothe), class: "trans-photo"%>
</div>
<div class="container-phone">
  <%= link_to "Contacter le vendeur #{@transaction.clothe.owner.user_name}", chatroom_path(@transaction.chatroom), class: "booking-btn d-flex justify-content-center"  %>
  <%= link_to "Retour à l'accueil", root_path, class: "booking-btn d-flex justify-content-center" %>
</div>
